<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/styles.css">
    <title> {{ webpage }} </title>
</head>

<body>
    <header>
        <h1 class="title"> {{ title }} </h1>
        <h3 class="subtitle"> {{ tagline }} </h3>
    </header>

    <nav> {{ a loop here }} </nav>

    <div> {{ content }} </div>

    <p>
        Visit <a href="#">this link</a> or <a href="#">that one</a>{}{}{}.
    </p>
    <script src="js/script.js"></script>
</body>

</html>
