@import url(fonts.css);

:root {
    --color-bg: #252527;
    --color-text: #FAEBD7;
    --color-text-secondary: #A4A2A0;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    padding: 2em;
    text-align: center;
}

html,
body,
button,
p,
code {
    font-family: "iA Writer Mono", monospace;
}

header {
    text-align: center;
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding-top: 2em;
    padding-bottom: 2em;
}

a {
    text-decoration: underline;
    color: var(--color-text);
    text-decoration-thickness: 0.3ex;
    text-underline-offset: 0.3ex;
}

a:hover {
    text-decoration-thickness: 0.4ex;
    font-weight: bold;
}

.title {
    padding-bottom: 16px;
}

.subtitle {
    color: var(--color-text-secondary);
    text-align: left;
}

nav {
    padding-bottom: 2em;
}

